
/* icon */
.icon::before {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 0em;
    display: block;
    height: 1em;
    width: 1em;
    content: '';
    margin: 0em -1em -1rem -1.15em;
}
.icon {
    margin-left: 1.1em;
    line-height: 1rem;
}
.icon.Starter::before { background-image: url('../images/icons/ball-starter.png'); }
.icon.Beginner::before { background-image: url('../images/icons/ball-poke.png'); }
.icon.Amateur::before { background-image: url('../images/icons/ball-greater.png'); }
.icon.Ace::before { background-image: url('../images/icons/ball-ultra.png'); }
.icon.Pro::before { background-image: url('../images/icons/ball-cherish.png'); }
.icon.Master::before { background-image: url('../images/icons/ball-master.png'); }
.icon.Champion::before { background-image: url('../images/icons/ball-park.png'); }

.icon.Coor::before,
.icon.SuperCoor::before,
.icon.HyperCoor::before,
.icon.MasterCoor::before{
    width: 1.3em;
    height: 1.1em;
    margin-left: -1.3em;
}
.icon.Coor::before { background-image: url('../images/icons/rank-coordinator.png'); }
.icon.SuperCoor::before { background-image: url('../images/icons/rank-super-coordinator.png'); }
.icon.HyperCoor::before { background-image: url('../images/icons/rank-hyper-coordinator.png'); }
.icon.MasterCoor::before { background-image: url('../images/icons/rank-master-coordinator.png'); }


/* Tag Icon */
tag {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    width: 2.5rem; height: 2.5rem;
    margin: .2rem;
    border-radius: .5rem;
    background-size: 100%;
    font-size: 1rem;
    content: ""; 
}
tag.small { width: 2rem; height: 2rem; font-size: .8rem; }
tag.large { width: 3.2rem; height: 3.2rem; font-size: 1.3rem; }

tag.unknown { background-image: url('../images/icons/unknown.png'); }

tag.dice { background-image: url('../images/icons/dice.png'); background-color: #eee; }
tag.dice b {
    position: absolute;
    padding-left: 1.5em;
    padding-top: 1em;
    color: #fff;
}
tag.rdice { filter: invert(45%) sepia(20%) saturate(16%) hue-rotate(314deg) brightness(91%) contrast(88%); }
tag.rdice.success { filter: invert(64%) sepia(73%) saturate(483%) hue-rotate(75deg) brightness(94%) contrast(88%); } //#3ad451
tag.rdice.fail { filter: invert(25%) sepia(68%) saturate(7010%) hue-rotate(357deg) brightness(115%) contrast(134%); } //#ff0808
tag.rdice.one { background-image: url('../images/icons/dice_1.svg'); }
tag.rdice.two { background-image: url('../images/icons/dice_2.svg'); }
tag.rdice.three { background-image: url('../images/icons/dice_3.svg'); }
tag.rdice.four { background-image: url('../images/icons/dice_4.svg'); }
tag.rdice.five { background-image: url('../images/icons/dice_5.svg'); }
tag.rdice.six { background-image: url('../images/icons/dice_6.svg'); }
tag.text {
    position: relative;
    background-color: #333; color: #fff;
    padding: .6em 0;
    line-height: 2em;
    font-size: .5em; text-align: center;
}
tag.text b {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
tag.text.Normal { background-color: #9c9c8a; }
tag.text.Bug { background:#AABB22; }
tag.text.Dark { background:#775544; }
tag.text.Dragon { background:#7766EE; }
tag.text.Electric { background:#FFCC33; }
tag.text.Fairy { background:#FFAAFF; }
tag.text.Fight { background:#BB5544; }
tag.text.Fire { background-color: #ff5c42; }
tag.text.Flying { background-color: #84adff; }
tag.text.Ghost { background:#6666BB; }
tag.text.Grass { background-color: #5eb83a; }
tag.text.Ground { background:#DDBB55; }
tag.text.Ice { background:#77DDFF; }
tag.text.Poison { background:#AA5599;color:#fff; }
tag.text.Psychic { background-color: #ff99c2; }
tag.text.Rock { background:#BBAA66; }
tag.text.Steel { background:#AAAABB; }
tag.text.Water { background:#3399FF; }


tag.NoviceMark { background-image: url('../images/icons/novice.png'); }

tag.weather.sun, .icon.weather.sun::before { background-image: url('../images/icons/weather_sun.png'); }
tag.weather.sun2, .icon.weather.sun2::before { background-image: url('../images/icons/weather_sun2.png'); }
tag.weather.rain, .icon.weather.rain::before { background-image: url('../images/icons/weather_rain.png'); }
tag.weather.rain2, .icon.weather.rain2::before { background-image: url('../images/icons/weather_rain2.png'); }
tag.weather.sand, .icon.weather.sand::before { background-image: url('../images/icons/weather_sand.png'); }
tag.weather.wind, .icon.weather.wind::before { background-image: url('../images/icons/weather_wind.png'); }
tag.weather.hail, .icon.weather.hail::before { background-image: url('../images/icons/weather_hail.png'); }

tag.ball.premier { background-image: url('../images/icons/ball-premier.png'); }
tag.ball.luxury { background-image: url('../images/icons/ball-luxury.png'); }
tag.ball.cherish { background-image: url('../images/icons/ball-cherish.png'); }
tag.ball.ub { background-image: url('../images/icons/ball-ub.png'); }
tag.ball.dynamax { background-image: url('../images/icons/ball-dynamax.png'); }
tag.ball.master { background-image: url('../images/icons/ball-master.png'); }

tag.moveType {
    width: 2.5rem; height: 2rem; border-radius: 0; background-repeat: no-repeat;
}
tag.moveType.physical { background-image: url('../images/icons/move_physical.png'); }
tag.moveType.special { background-image: url('../images/icons/move_special.png'); }
tag.moveType.support { background-image: url('../images/icons/move_support.png'); }
tag.moveType.hybrid { background-image: url('../images/icons/move_hybrid.png'); }
tag.moveType.all { background-image: url('../images/icons/move_all.png'); }

tag.target.self { background-image: url('../images/icons/target_ally_self.png'); }
tag.target.ally { background-image: url('../images/icons/target_ally_1.png'); }
tag.target.allally { background-image: url('../images/icons/target_ally_all.png'); }
tag.target.foe { background-image: url('../images/icons/target_foe.png'); }
tag.target.rfoe { background-image: url('../images/icons/target_foe_rand.png'); }
tag.target.allfoe { background-image: url('../images/icons/target_foe_all.png'); }
tag.target.area { background-image: url('../images/icons/target_area.png'); }
tag.target.field { background-image: url('../images/icons/target_field.png'); }
tag.target.hybrid { background-image: url('../images/icons/target_hybrid.png'); }

tag.effect.block { background-image: url('../images/icons/effect_block.png'); }
tag.effect.charge { background-image: url('../images/icons/effect_charge.png'); }
tag.effect.fist { background-image: url('../images/icons/effect_fist.png'); }
tag.effect.crit { background-image: url('../images/icons/highCrit.png'); }
tag.effect.lethal { background-image: url('../images/icons/lethalDamage.png'); }
tag.effect.recharge { background-image: url('../images/icons/effect_recharge.png'); }
tag.effect.neverfail { background-image: url('../images/icons/effect_neverfail.png'); }
tag.effect.rampage { background-image: url('../images/icons/effect_rampage.png'); }
tag.effect.recoil { background-image: url('../images/icons/effect_recoil.png'); }
tag.effect.sound { background-image: url('../images/icons/effect_sound.png'); }
tag.effect.shield { background-image: url('../images/icons/effect_shield.png'); }
tag.effect.switcher { background-image: url('../images/icons/effect_switcher.png'); }

tag.effect.heal { background-image: url('../images/icons/heal_basic.png'); }
tag.effect.c_heal { background-image: url('../images/icons/heal_complete.png'); }

tag.effect.sact_2 { background-image: url('../images/icons/MultiAct_2.png'); }
tag.effect.sact_5 { background-image: url('../images/icons/MultiAct_5.png'); }

iconFrame {
    text-align: left;
    overflow: hidden; white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
    width: 3.25rem; height: 3.25rem;
    margin: .2rem;
    border-radius: .5rem;
    background-color: black;
    font-size: 1rem;
}
iconFrame.target { background-color: #ff2424; }
iconFrame.self { background-color: #20b1ff; }
iconFrame.priority { background-color: #8aca83; }
iconFrame.heal { background-color: #f8aba6; }
iconFrame.paralysis { background-color: #d4c53e; }
iconFrame.burn1 { background-color: #ff7f1a; }
iconFrame.burn2 { background-color: #cc0500; }
iconFrame.burn3 { background-color: #960703; }
iconFrame.sleep { background-color: #a7ab99; }
iconFrame.poison { background-color: #a574af; }
iconFrame.poison2 { background-color: #672b73; }
iconFrame.frozen { background-color: #86e0de; }
iconFrame.flinch { background-color: #4a537b; }
iconFrame.love { background-color: #f54e78; }
iconFrame.confuse { background-color: #1cb579; }
iconFrame.disabled { background-color: #ff3600; }

iconFrame .frameTitle {
    position: absolute;
    width: 3.25rem;
    margin-top: -.1rem;
    text-align: center; font-size: .8rem; color: #fff;
}
iconFrame .frameContent {
    position: absolute;
    background-color: #fff;
    width: 2.9rem; height: 2rem;
    border-radius: .5rem;
    margin: 1.1rem .175rem;
    text-align: center;
    
}
iconFrame.accuracy .frameContent { background-color: #e02a2a; }
.frameContent .always::before {
    position: absolute; top: -.3rem; left: .9rem;
    font-size: 1.5rem;
    content: "✔";
    color: #4cbb4c;    
}
.frameContent .never::before {
    position: absolute; top: -.3rem; left: .9rem;
    font-size: 1.5rem;
    content: "✖";
    color: #e02a2a;
}
.frameContent .number .never { width: 1rem; }
.frameContent .number .never::before { top:-.05rem; }

.frameContent .heal {
    position: absolute; top: 0rem; left: .4rem; width: 2.1rem;
    font-size: 1.3rem;
    font-weight: bolder;
    background-image: url('../images/icons/heart.svg');
    background-size: 100%;
}
.frameContent .heal.comp { background-image: url('../images/icons/heart2.svg'); }

.frameContent .number{
    font-size: 1.5rem;
    font-weight: bolder;
    position: absolute; top: -.3rem; left: 0rem; width: 100%;
}
.frameContent .number .dice{
    background-color: transparent;
    margin-top: -.1em;
}
.frameContent .number .dice b{
    padding-left: .2em;
}
.frameContent prefix{
    margin-right: .1em;
}
.frameContent dprefix{
    margin-right: -.2em;
}
iconFrame.target .number{ color: #ff2424; }
iconFrame.self .number{ color: #20b1ff; }
iconFrame.priority .number{ color: #8aca83; }
iconFrame.accuracy .number{ color: #fff; }
iconFrame.heal .heal{ color: #fff; }

.disable tag,
.disable iconFrame
 { filter: grayscale(.8) contrast(.35); }