.theme__dark .bgcolor__header {
    background-color: #982320;
}
.theme__dark .bgcolor__breadcrumb {
    background-color: #bc533e;
}
.theme__dark #list-main {
    background-color: #fffdf7;
    color: #000;
}
.theme__dark #list-main a {
    text-decoration: underline;
    color: #de2222;
}
.theme__dark #list-main a:hover {
    text-decoration: underline;
    color: #ff83b6;
}

.theme__dark .switch__rel:hover, .theme__dark .switch__rel:active, .theme__dark .switch__rel:focus {
    color: #fcfcfa;
    background-color: #903b1e;
}


.theme__dark .single__contents h1,
.theme__dark .single__contents h2,
.theme__dark .single__contents h3,
.theme__dark .single__contents h4,
.theme__dark .single__contents h5,
.theme__dark .single__contents h6 {
    color: #ad3e3e;
}
.theme__dark .menu__title.active {
    font-weight: 700;
    color: #fffa5f;
}


/* Table of Contents */
.toc ul li,
.toc ul li li {
    margin-top: .5em;
}


/* <h1 h2 h3 h4 h5 h6> */
.single__contents h1 { font-size: 2.6rem; margin-top: 0; }
.single__contents h2 { font-size: 2.0rem; }
.single__contents h3 { font-size: 1.6rem; }
.single__contents h4 { font-size: 1.3rem; }
.single__contents h5, .single__contents h6 {
    margin-bottom: 0em;
    text-decoration: underline;
}
.single__contents hr + h1,
.single__contents hr + h2,
.single__contents hr + h3,
.single__contents hr + h4 {
    margin-top: 0;
}

/* <ul ol><li> */
.theme__dark #list-main ol,
.theme__dark #list-main ul {
    margin-top: 1em;
}
.theme__dark #list-main li {
    margin-bottom: .5em;
    line-height: 1.5em;
}


/* <Table> */
table { width: 100%; }

th { background: #ad3e3e; color: #fcfcfa; text-align: center; }
tr:nth-child(2n+1) { background: #eee; }
tr:nth-child(2n) { background: #fff; }
table.tough tr:nth-child(2n+1) { background: #ffec66; }
table.tough tr:nth-child(2n) { background: #fffabc; }
table.cool tr:nth-child(2n+1) { background: #ffc782; }
table.cool tr:nth-child(2n) { background: #ffe7c9; }
table.beauty tr:nth-child(2n+1) { background: #b6bdef; }
table.beauty tr:nth-child(2n) { background: #e0e4ff; }
table.clever tr:nth-child(2n+1) { background: #a9e29a; }
table.clever tr:nth-child(2n) { background: #e3fbe0; }
table.cute tr:nth-child(2n+1) { background: #fac8fb; }
table.cute tr:nth-child(2n) { background: #ffebfe; }


td { text-align: left; }
td:not([align]), th:not([align]) { text-align: center; }

.theme__dark .single__contents .table-wrapper>table th, .theme__dark .single__contents .table-wrapper>table td {
    padding: .25rem .5rem;
    border: 1px double rgba(150,40,40,.2);
}

/* <hr> */
.single__contents hr {
    margin: 2rem 1rem;
}